.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}


/*Header*/
.navbar {
    background-color: darkcyan;
}

.navbar-brand{
    font-weight: bold;
    color: greenyellow;
}

.nav-link {
    color: white;
}

li {
    font-size: 17px;
}

li .nav-link:hover{
    color: black;
    font-weight: bold;
}

.navbar-nav flex-grow-1{

    color: lightseagreen;
}

/*Course layout*/
.course {
    list-style: none;
}

.course > li{
    position: relative;
    margin-bottom: 30px;
}

.details{
    position: absolute;
    top: 0;
    left: 70px;
}

.date bg-danger{
    width: 60px;
}

.date {
    text-align: center;
    background-color: #00FFFF;
    color: white;
    width: 60px;
    border-radius: 8px;
}

.details col-lg-1{
    width: 60px;
}