.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}




.navbar {
    background-color: darkcyan;
}

.navbar-brand{
    font-weight: bold;
    color: greenyellow;
}

.nav-link {
    color: white;
}

li {
    font-size: 17px;
}

li .nav-link:hover{
    color: black;
    font-weight: bold;
}

.navbar-nav flex-grow-1{

    color: lightseagreen;
}

